* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: $darkBlack;
    color: $white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.button {
    color: $white;
    background-color: $blue;
    font-family: "Geometria", sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: $darkBlue;
    transition: 300ms;
}

//TITLES

.header__first {
    font-size: 150px;
    text-align: center;
}

.header__second {
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.header__third {
    font-size: 24px;
    font-weight: 700;
    color: $blue;
}

//SAME STYLES

.history, .components, .details, .build {
    padding-top: 120px;
    padding-bottom: 120px;
}

.components {
    background-color: $black;
}

//SCROLLBAR

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $blue;
}
::-webkit-scrollbar-thumb:hover{
    background: $darkBlue;
}
