@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.ttf') format('truetype'),
        url('Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype'),
        url('Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

